# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# Variaveis de ambiente e logs
.env
.env.local
*.log

# Dependencias
node_modules/
dist/
target/
